<!DOCTYPE html>
<html>
 <body>
  <h1>My about page</h1>
   <p>This is a demo site build with rails in order to be exposed to the platforms capabilities.</p>
   <%= link_to 'Home', root_path %>
 </body>
</html>