 <!DOCTYPE html>
<html>
	<body>
 		<div class="center jumbotron">
    		<h1>Alpha blog</h1>
    		<%= link_to "Sign up now" , signup_path , class: "btn btn-primary btn-lg btn-xlarge" %>
    		<h1><%= puts Time.now %></h1>
    		<h1><%= Time.now.strftime("%d/%m/%Y %H:%M") %></h1>
   		</div>
	</body>
</html>