<div class='row'>
  <div class='col-xs-12'>
    
      <div class="form-group">
      	<h3 align="center">Welcome to ServerAlias <%= @hostname %> </h3>
      <div class="col-sm-8">
    
  </div>
 